footer {
    background: #121212;
    margin-top: 120px;
}

.footer-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.footer-partners-title {
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.footer-partners-list {
    margin: 30px 0 0 0;
    padding-bottom: 50px;
    display: flex;
    gap: 80px;
    align-items: center;
    color: #fff;
    justify-content: center;
}

.footer-partners {
    background: #171717;
}

.copyrights {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

footer ul {
    display: flex;
    gap: 20px;
}

footer a {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

/* //-------------------------------------------- */
.footer-partners-list img {
    width: 175px;
    height: auto;
    border-radius: 25px;
}

.footer-partners .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* //-------------------------------------------- */

@media (max-width: 1200px) {
    footer {
        margin-top: 100px;
    }

    .footer-partners-list img {
        width: 145px;
    }

}

@media (max-width: 768px) {
    footer {
        margin-top: 80px;
    }

    .footer-partners-list img {
        width: 105px;
    }
}

@media (max-width: 600px) {
    footer {
        margin-top: 60px;
    }

    .footer-partners-list img {
        width: 80px;
    }
}

@media (max-width: 490px) {
    footer {
        margin-top: 40px;
    }

    .footer-partners-list img {
        width: 65px;
    }
}
