* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,
a {
    text-decoration: none;
    list-style: none;
    font-size: inherit;
    color: inherit;
}

body {
    font-family: "PT Sans";
    position: relative;
    scroll-behavior: smooth;
}

body.scroll-look {
    overflow: hidden;
}

.container {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/*------------------------------------------------*/



/*----------------------------------------------------*/


.ads-line {
    background: url("../images/ads-line-bg.jpg");
    height: 80px;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ads-line .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------*/

.title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #4a90e2;
}

/*-----------------------------------------------*/
.contact-us-contacts {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

}

.social-media ul {
    display: flex;
    list-style: none;
    justify-content: center;
}


.cards-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0 0 0;
    gap: 20px;

}

.price-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.price-card {
    max-width: 370px;
    min-width: 280px;
    width: 100%;
    /* height: 268px; */
    position: relative;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.price-card img {
    /* width: 370px; */
    width: 100%;
    height: auto;
    border-radius: 9px;
    z-index: 0;
}

.price-card .price-card-info {
    position: absolute;
    background: #fff;
    height: 130px;
    width: 280px;
    border-radius: 9px;
    bottom: -45px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 15px 20px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: start;
}

.price-card p.card-title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    /* margin-top: 10px; */
}

.card-price-wrapper {
    color: #4a90e2;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    flex: 1 1 100%;
    gap: 4px;
}

.btn {
    border-radius: 8px;
    background: #4a90e2;
    padding: 5px 25px;
    border: none;
    display: inline-block;
}

.btn a {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}

/* ---------------------------------------- */

.additional-services {
    margin: 50px 0 100px;
}

.additional-services-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 50px 20px 0 20px;
}

.additional-services .additional-services-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 230px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #4a90e2;
    padding: 0 22px;
    -webkit-box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, 0.2);
}

.additional-services-card span {
    margin: 2rem 0.8rem 0 0.8rem;
}

/* ---------------------------------------- */

.about-us {
    display: flex;
    width: 100%;
    /* height: 100vh; */
    /* align-items: center; */
}

.about-us-left,
.about-us-right {
    flex: 0 1 50%;
}

.about-us-left {
    background-color: #4A90E2;
    padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.about-us-right img {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-title {
    font-size: 40px;
    text-align: right;
    font-weight: 700;
    color: #fff;
    display: block;
}

.about-us-left p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    color: #fff;
    max-width: 540px;
    margin-left: auto;

}

.about-us-article {
    max-width: 450px;

}

.contact-us-btn {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: right;
    color: #4a90e2;
    background-color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;

    margin-top: 60px;
}

/* ----------Choose Us Section-------------- */
.choose-us .swiper-slide {
    display: flex;
    align-items: center;
}


.choose-us .swiper {
    margin: 50px;
    width: 100%;
}

.choose-us .swiper-wrapper {
    height: 100%;
    display: flex;
    margin: 70px 0;
    max-width: 1100px;
    align-items: stretch !important;
}

.choose-us .swiper-slide {
    border-left: 1px solid #000;
    align-items: start;
    padding: 0 0 0 40px;
    width: 220px;
    height: auto;
}

.swiper.choose-us .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.choose-us-title {
    margin-top: auto;
}

.choose-us .params {
    font-family: Alexandria, serif;
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    color: #4a90e2;
}

.choose-us .choose-us-title {
    font-weight: 400;
    font-size: 20px;
    color: #000;

}

.choose-us-subtile {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #000;
}


/* ---------------------------------------- */



/* ---------------------------------------- */


.contact-us-contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 125px;
}

.contact-us-article {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #000;
    margin: 30px 0 80px 0;

}

.contact-us-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.contact-us-contact img {
    width: 92px;
    height: 92px;
}

.contact-us-contact span {
    font-weight: 700;
    font-size: 24px;
    color: #000;
}


/* ---------------------------------------- */




/*
@media (max-width: 1190.98px) {
    header .logo {
        height: 65px;
    }

    .header-nav {
        min-height: 100vh;
        height: 100%;
        min-width: 100vw;
        color: #fff !important;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -150%;
        background: #121212;
        z-index: 99;
        transition: all 0.4s ease-in 0s;
        overflow-y: auto;
    }

    .header-nav.active {
        top: 0;
        right: 0;
    }

    .header-nav-list-item:last-child {
        margin-bottom: 100px;
    }

    .header-nav-list {
        flex-direction: column;
        padding-top: 100px;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
    }

    .header-top-columns {
        flex-direction: column-reverse;
        justify-content: end;
        align-self: flex-end;
        gap: 5vh;
    }

    .language__list {
        position: absolute;
        opacity: 0;
        transition: all 0.3s ease 0s;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background: #333;
        padding: 12px 8px;
        border-radius: 8px;
        margin: 5px 0 0 30px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        justify-self: flex-end;
        max-width: 600px;
        margin-top: 200px;
        margin-right: 30px;
        gap: 2vh;
    }

    .text-content button {
        background-color: #4a90e2;
        font-weight: bold;
        font-size: 24px;
        border: none;
        border-radius: 40px;
        color: #fff;
    }

    .hero-title {
        font-weight: 700;
        font-size: 46px;
        text-align: right;
        color: #4a90e2;
    }

    .hero-article {
        font-weight: 700;
        font-size: 22px;
        text-align: right;
        color: #000;
        max-width: 450px;
    }
}

@media (max-width: 767.98px) {
    .hero-block {
        background: url("../images/hero.png") 0 100% / 85% no-repeat;
    }

    .hero-work-24-7 {
        font-size: 120px;
    }

    .about-us {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .about-us-left {
        margin-top: -10px;
    }

    .hero-block {
        display: none;
    }

    .hero-block-mobile {
        display: flex;
    }

    .footer-partners .swiper img {
        width: 95px;
        height: auto;
        border-radius: 10px;
    }
}

@media (max-width: 575.98px) {
    .footer-navigation {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }


    .phone-number {
        font-size: ;
    }

    header .logo {
        height: 45px;
    }

    header.on-scroll .logo {
        height: 30px;
    }


        .hero-block {*/
/*        !*background: url("../images/hero2.png") 50% 100% / cover no-repeat;*!*/
/*    }*/

/*    .hero-article {*/
/*        color: #fff;*/
/*    }*/

/*    .text-content {*/
/*        align-items: center;*/
/*        justify-self: center;*/
/*        padding: 15px;*/
/*        margin: 100px 0 0 0;*/
/*        min-height: 80vh;*/
/*        justify-content: space-around;*/
/*    }*/

/*    .text-content span {*/
/*        text-align: center;*/
/*    }
}
*/