* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,
a {
    text-decoration: none;
    list-style: none;
    font-size: inherit;
    color: inherit;
}

body {
    font-family: "PT Sans";
    position: relative;
}

body.scroll-look {
    overflow: hidden;
}

/*------------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 100;
}

.container {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header-burger {
    position: relative;
    width: 30px;
    height: 25px;
    z-index: 99;
    display: none;
}

@media (max-width: 1190.98px) {
    .header-burger {
        display: block;
    }
}

.header-burger span {
    transition-duration: 0.4s;
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.header-burger span:nth-child(2) {
    top: 10px;
}

.header-burger span:nth-child(3) {
    top: 20px;
}

.header-burger.active span {
    display: inline-block;
    transform: rotate(45deg);
    top: 12px;
}

.header-burger.active span:nth-child(2) {
    display: none;
}

.header-burger.active span:nth-child(3) {
    display: inline-block;
    transform: rotate(-45deg);
    top: 12px;
}

.header-top-columns,
.header-bottom-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
    padding: 12px 20px;
}

.work-24-7 {
    display: flex;
    align-items: center;
    gap: 25px;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.social-media li {
    list-style: none;
}

.call-number {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 700;
}

.header-bottom {
    background: #121212;
}

header select {
    background-color: none;
    font-size: 24px;
}

nav a {
    color: #fff;
}

#language__default {
    text-transform: uppercase;
    color: #fff;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 38px;
}

.header-nav__language {
    position: relative;
    cursor: pointer;
    font-weight: 500;
}

.language__default {
    color: #fff;
}

.language__list {
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease 0s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #fff;
    padding: 12px 8px;
    border-radius: 8px;
    margin: 5px 0 0 30px;
}

.header-nav__language.active ul {
    opacity: 1;
}

.call-button__icon {
    display: none;
}

.language__list li {
    border-bottom: 2px solid #56ccf2;
}

.language__list li:last-child {
    border: none;
}

.header-nav__language {
    user-select: none;
}

.header-nav__language svg {
    transition: all 0.2s ease 0s;
}

.header-nav__language.active svg {
    transform: rotate(180deg);
}

header .logo {
    transition: all 0.2s ease-in 0s;
    height: 130px;
    z-index: 100;
}

header.on-scroll .logo {
    height: 50px;
    /* transform: scale(.4); */
}

header.on-scroll .header-bottom-columns,
header.on-scroll .header-top-columns {
    /* height: 95px; */
    /* padding: 5px 20px; */
}

/*------------------------------------------------*/

.hero-block {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    /*justify-content: end;*/
    align-items: center;
    /*background: url("../images/hero.png") 0 100%/ 55% no-repeat;*/
}

.hero-block-right {
    flex: 0 0 35%;
}

.hero-block-left {
    flex: 0 0 65%;
    align-self: flex-end;
    margin-bottom: -10px;
}

.hero-block-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-block .container {
    min-height: 100%;
}

.hero-work-24-7 {
    font-weight: 700;
    font-size: 88px;
    text-align: right;
    color: #ff0a0a;
    font-family: Alkatra, serif;
}

.hero-block span {
    display: block;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    justify-self: flex-end;
    max-width: 600px;
    margin-top: 210px;
    margin-right: 30px;
    /*gap: 1vh;*/
}

.text-content button {
    display: block;
    padding: 20px 60px;
    background-color: #4a90e2;
    font-weight: bold;
    font-size: 28px;
    border: none;
    border-radius: 40px;
    color: #fff;
    margin-top: 30px;
}

.hero-title {
    font-weight: 700;
    font-size: 64px;
    text-align: right;
    color: #4a90e2;
}

.hero-article {
    font-weight: 700;
    font-size: 24px;
    text-align: right;
    color: #000;
    max-width: 450px;
}

/*---------------------------------------------------------*/
@media (max-aspect-ratio: 16/10) {
    .hero-block {
        flex-direction: column-reverse;
    }

    .hero-block-right {
        align-self: flex-end;
    }

    .text-content {
        margin-top: 240px;
        margin-bottom: -220px;
        position: relative;
        z-index: 1;
    }
}

/*----------------------------------------------------*/

.ads-line {
    background: url("../images/ads-line-bg.jpg");
    height: 80px;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 6px 4px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ads-line .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------*/

.title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #4a90e2;
}

/*-----------------------------------------------*/

/* Price list section */
.price-list {
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    /*gap: 20px;*/
    /*justify-content: center;*/
    /* padding: 50px 10%; */
}

/* Additional services */
.additional-services {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 10%;
}
.additional-services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

/* About Us Section */
.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    background-color: #e6f0ff;
}
.about-us-left {
    flex: 1;
    padding-right: 50px;
}
.about-us img {
    max-width: 50%;
}
.contact-us-btn a {
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

/* Why Choose Us Section */
.choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 10%;
}
.choose-us-card {
    text-align: center;
}

/* Contact Section */
.contact-us {
    text-align: center;
    padding: 50px 10%;
}
.contact-us-contacts {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-media ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

/* Footer */
footer {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.footer-navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

@media (max-width: 1190.98px) {
    header .logo {
        height: 65px;
    }

    .hero-block {
        /*flex-direction: column-reverse;*/
    }

    .hero-block-right,
    .hero-block-left {
        /*flex: 0 0 100%;*/
    }

    .hero-block-left {
        /*align-self: flex-end;*/
        /*width: 100%;*/
    }

    .header-nav {
        min-height: 100vh;
        min-width: 100vw;
        color: #fff !important;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -150%;
        background: #121212;
        z-index: 99;
        transition: all 0.4s ease-in 0s;
        overflow-y: auto;
    }

    .header-nav.active {
        top: 0;
        right: 0;
    }

    .header-nav-list {
        flex-direction: column;
        padding-top: 100px;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
    }

    .header-top-columns {
        flex-direction: column;
        justify-content: end;
        align-self: flex-end;
        gap: 5vh;
    }

    .language__list {
        position: absolute;
        opacity: 0;
        transition: all 0.3s ease 0s;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background: #333;
        padding: 12px 8px;
        border-radius: 8px;
        margin: 5px 0 0 30px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        justify-self: flex-end;
        max-width: 600px;
        margin-top: 200px;
        margin-right: 30px;
        gap: 2vh;
    }

    .text-content button {
        background-color: #4a90e2;
        font-weight: bold;
        font-size: 24px;
        border: none;
        border-radius: 40px;
        color: #fff;
    }

    .hero-title {
        font-weight: 700;
        font-size: 46px;
        text-align: right;
        color: #4a90e2;
    }

    .hero-article {
        font-weight: 700;
        font-size: 22px;
        text-align: right;
        color: #000;
        max-width: 450px;
    }
}

/*@media (max-width: 767.98px) {*/
/*    .hero-block {*/
/*        !*background: url("../images/hero.png") 0 100% / 85% no-repeat;*!*/
/*    }*/

/*    .hero-work-24-7 {*/
/*        font-size: 120px;*/
/*    }*/
/*}*/

/*@media (max-width: 475.98px) {*/
/*    .hero-block {*/
/*        !*background: url("../images/hero2.png") 50% 100% / cover no-repeat;*!*/
/*    }*/

/*    .hero-article {*/
/*        color: #fff;*/
/*    }*/

/*    .text-content {*/
/*        align-items: center;*/
/*        justify-self: center;*/
/*        padding: 15px;*/
/*        margin: 100px 0 0 0;*/
/*        min-height: 80vh;*/
/*        justify-content: space-around;*/
/*    }*/

/*    .text-content span {*/
/*        text-align: center;*/
/*    }*/
/*}*/

/* .header-nav__language svg {
    position: absolute;
    right: -5px;
    top: 1px;
} */

/* 









*/
